body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    z-index: 1;
}

#map {
    position: absolute;
    top: 0;
    padding-top: 56px;
}

.tool {
    padding: 5px;
    cursor: pointer;
}

.tool:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.dropdown .list-group-item {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.img-basemap {
    width: 30px;
}

/** OpenLayers styles */ 

/* Zoom */
.ol-zoom .ol-zoom-out {
    margin-top: 204px;
}

.ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

.ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}

.ol-touch .ol-zoomslider {
    top: 2.75em;
}

.ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
.ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

.ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
.ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}

/* Popup */
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;

}

.ol-popup-zoom {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 65px;
}

.ol-popup-copy {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 35px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 5px;
}

.ol-popup-content {
    padding-top: 20px;
}

/* Mouse position */
.custom-mouse-position {
    position: absolute;
    bottom: .5em;
    right: .5em;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: rgba(0,60,136,.5);
    border-radius: 2px 2px 0 0;
}